a {
  font-weight: bold;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f8fc;
  padding: 0.5rem 1rem;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
  margin-bottom: 3rem;
  position: relative;

  .logo {
    display: flex;
    justify-content: left;
    flex-grow: 1;

    img {
      height: 6.5rem;
      width: auto;
      margin-left: 0.5rem;
    }
  }

  .nav-links {
    display: flex;
    width: 55%;
    justify-content: space-between;
    margin-top: 3rem;
    li {
      margin: 0;
    }

    a {
      text-decoration: none;
      font-size: 1.86rem;
      color: #1c4070;
      transition: color 0.3s;

      &:hover {
        color: #267178;
      }
    }
  }

  .nav-actions {
    margin-left: 14.5%;
    display: flex;
    align-items: center;
    gap: 2rem;

    img {
      object-fit: contain;
      width: 3.5rem;
    }
  }
}

@media (max-width: 920px) {
  .navbar {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    column-gap: 5%;
    row-gap: 5%;
    padding: 0;
    height: auto;

    .logo {
      grid-row: 1 / 2;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        height: 45px;
        width: auto;
        margin: 0.5rem 3rem;
      }
    }

    .nav-links {
      margin-top: 0;
      grid-row: 2 / 3;
      width: 100%;
      justify-content: space-around;
      margin-bottom: 1.5rem;

      a {
        font-size: 1.44rem;
      }
    }

    .nav-actions {
      position: absolute;
      top: 0.5rem;
      right: 1rem;
      grid-row: 1 / 2;
      grid-column: 1 / -1;
      justify-content: flex-end;
      padding-right: 1rem;

      img {
        object-fit: contain;
        width: 3rem;
      }
    }
  }
}

@media (max-width: 640px) {
  .navbar {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
    height: auto;

    .logo {
      grid-row: 2 / 3;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        height: 45px;
        width: auto;
        margin: 0.5rem;
      }
    }

    .nav-links {
      margin-top: 3rem;
      grid-row: 3 / 4;
      width: 100%;
      justify-content: space-around;

      a {
        font-size: 1.12rem;
      }
    }

    .nav-actions {
      position: absolute;
      top: 0.5rem;
      right: 1rem;
      grid-row: 1 / 2;
      display: flex;
      justify-content: flex-end;
      padding-right: 1rem;

      img {
        object-fit: contain;
        width: 2.5rem;
      }
    }
  }
}
